div{
  margin: 20px;
  display: block;
  height: 40px;
}

ul{
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  float: right;
}

li{
  display: inline;
  margin: 10px;
}

a{
  font-family: 'Parisienne', cursive;
  font-weight: bold;
  font-size: 20px;
  color: #C68C64;
  text-decoration: none;

}

a:hover{
  color: #FFD783;
}

a:active{
  font-size: smaller;
}

