h1{
  font-family: 'Parisienne', cursive;
  color: #E99B46;
  text-align: left;
  margin-left: 300px;
}

form{
  width: 60%;
  margin-left: 300px;
  text-align: left;
}

label{
  font-family: 'Parisienne', cursive;
  font-weight: bold;
  font-size: 24px;
  color: #FFD783;
}

input[type=text], input[type=textarea]{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px double #E99B46;
  height: 30px;
  width: 300px;
  //padding: 2px 10px;
  margin: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #E99B46;
}

input[type=text]:focus{
  outline: none;
}

textarea{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px double #E99B46;
  resize: none;
  height: 50px;
  width: 300px;
  //padding: 2px 10px;
  margin: 2px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #E99B46;
}

textarea:focus{
  outline: none;
}

a{
  cursor: pointer;
  margin-left: 300px;
}
