h1{
  font-family: 'Parisienne', cursive;
  color: #E99B46;
  text-align: left;
  margin-left: 300px;
}

table{
  text-align: left;
  margin-left: 300px;
}

a:hover{
  cursor: pointer;
}

.cb-td{
  height: 40px;
  width: 50px;
}

.name-td{
  height: 40px;
  width: 200px;
  vertical-align: center;
}

.delete-td{
  height: 40px;
  width: 50px;
}
