@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Parisienne&display=swap');

body{
  background-image: url("assets/background.svg");
  font-family: 'Open Sans', sans-serif;
  color: #E7D8B0;
}
